.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
    background-color: #fff;
}

/*#region logo-link*/
.logo-link {
    display: flex;
    align-items: center;
    width: 135px;
    justify-content: center;
}

.logo-link h1 {
    color: rgb(236, 169, 0);
    margin: 0;
    font-size: 30px;
}

.logo-img {
    width: 55px;
    height: 50px;
    margin-right: 5px;
}
/*#endregion*/

/*#region header-option*/
.header-option {
    display: flex;
    align-items: center;
}

.header-option p {
    margin: 0;
}

.header-option .user-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;    
    border: 1px solid #000;
    border-radius: 999px;

}
#sidebar-menu li {
    color: #fff;
    margin: 0;
}

.header-option .header-user__logo {
    display: block;
    display: flex;
    align-items: center;
}
/*#endregion*/