.sidebar-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  height: calc(100vh - 85px);
  position: fixed;
  bottom: 10px;
  overflow-y: scroll;

}

#sidebar-menu li {
  font-weight: bold;
  margin-bottom: 5px;
}
#sidebar-menu li {
  color: #555;
}
