.menu-sticky {
  height: 100%;
}
.menu-sticky>div {
  height: 100%;
}
.sidebar-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}
#sidebar-menu {
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  margin-top: 5px;
  transition: 0.4s;
}

#sidebar-menu li {
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar-menu li {
  color: #555;
}

/* 
#sidebar-menu .ant-menu-item-selected{
  background-color: #ffb700;
}
#sidebar-menu .ant-menu-item-selected a{
  background-color: #ffb700;
  color: #fff;
} */

.menu-icon {
  cursor: pointer;
  width: fit-content;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
  }
  .sidebar-wrapper {
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
  
  
  
  }  
    #sidebar-menu {
    height: 0;
    margin-top: 0;
    overflow: hidden;
  }

  #sidebar-menu.active {
    height: 150px;
    margin-top: 15px;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
