.sidebar-wrapper {
  background-color: #fff;
  border-radius: 10px;
}
#sidebar-menu {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px

}

#sidebar-menu li {
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar-menu li a {
  color: #555;
}

#sidebar-menu .ant-menu-item-selected{
  background-color: #ffb700;
}
#sidebar-menu .ant-menu-item-selected a{
  background-color: #ffb700;
  color: #fff;
}
