.account-wrapper {
    margin: 0 10px;
    background-color: #fff;
}
.search{
    margin-top: 100px;
    width: 300px;
    height: 35px;
    margin-left: 1200px;
}

.table {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

