.step-wrapper {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin: 15px 0;
    padding: 10px 0;
}

.custom-divider {
    margin: 10px 0;
}

.step-header {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}

.step-time {
    display: flex;
    align-items: center;
}

.step-time p {
    margin: 0 15px;
    margin-left: 9px;
}