.main-content {
    width: 100%;
    background-color: #FFF;
    min-height: calc(100vh - 85px);
    padding: 10px 15px;
    margin: 10px;
    margin-left: 260px;
}

.editor-wrapper {
    border: 1px solid #000;
    padding: 5px;
    position: relative;
    padding-top: 45px;
}

textarea {
    height: 0;
}

.my_class {
    background-color: red;
}

.hideEditorHeader .tox-editor-header {
    display: none;
}


h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
}

.tox .tox-collection__item-label {
    display: flex !important;
}

.my-editor-wrapper {
    overflow: hidden;
}

.datail-option {
    /* position: fixed; */
}

