.main-content {
    width: 100%;
    background-color: #FFF;
    min-height: calc(100vh - 95px);
    padding: 10px 15px;
    margin: 10px;
    margin-left: 230px;
    height: 500vh;
}

.wrapper-option {
    position: relative;
    z-index: 3;
}


.js-toc-body-content h1,
.js-toc-body-content h2,
.js-toc-body-content h3,
.js-toc-body-content h4 {
    padding-top: 95px; /* Size of your fixed header */
    margin-top: -95px; /* If you need more spacing between the heading and the preceding element then fine tune this value */
 }


.wrapper-step {
}
.main-step {
    /* background-color: red; */
    margin-right: 165px;
}

.toc-container {
    position: fixed;
    width: 150px;
    top: 170px;
    right: 25px;
    height: 100%;
    z-index: 99999999999;
    overflow: hidden;             
    border: none;
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
    /* background-color: #fff; */
    padding: 10px 0;
}

.toc-style {
    position: fixed;
    width: 150px;
    top: 175px;
    right: 25px;
    height:auto;
    z-index: 99999999999;
    overflow: hidden;             
    border: none;
}