.main-content {
    width: 100%;
    background-color: #FFF;
    min-height: calc(100vh - 85px);
    padding: 10px 15px;
    margin: 10px;
    margin-left: 220px;
    height: 500vh;
}

.editor-wrapper {
    border: 1px solid #000;
    padding: 5px;
    position: relative;
    padding-top: 45px;
}

.wrapper-option {
    position: relative;
    z-index: 3;
}

textarea {
    height: 0;
}

.my_class {
    background-color: red;
}

.hideEditorHeader .tox-editor-header {
    display: none;
}


h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

.tox .tox-collection__item-label {
    display: flex !important;
}

.my-editor-wrapper {
    padding-right: 165px;
    /* position: relative; */
}

.edit-content {
    flex-grow: 1;
}

.tox.tox-tinymce--toolbar-sticky-on .tox-editor-header {
    box-shadow: 0 4px 4px -3px rgba(0,0,0,.25);
    top: 74px !important;
}

.js-toc-body-content {
    position: absolute;
    visibility: hidden;
}
.tox-container-padding {
    padding-top: 39px !important;
}

html {
    font-size: 16px
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
